*.sdf
*.opensdf
*.user
/*/Debug
/*/Release
/Debug
/Release
/bin
/test/.stderr*
/test/.stdout*
*.suo
/test/rel.log*
/test/dbg.log*
/pict.VC.db
/pict.VC.VC.opendb
*.user
*.aps
*.ipch
*.VC.*db*
pict
*.o
