*.sdf
*.opensdf
*.user
/*/Debug
/*/Release
/Debug
/Release
/bin
/test/.stderr*
/test/.stdout*
*.suo
/test/rel.log*
/test/dbg.log*
/pict.VC.db
/pict.VC.VC.opendb
*.user
*.aps
*.ipch
*.VC.*db*
pict
pict-benchmark
*.o
*.so
.DS_Store
build
/*/ARM64/*
/*/Win32/*
/*/x64/*
.vscode/settings.json
.config/zellij.kdl
go
